<div id="sign_up">
<div class="container_sign_up">
	
<%= form_for @teacher do |f| %>
<div class="fields group">
	<%=f.label "first name" %>
	<%=f.text_field :fname , :id => 'firstname' %>
</div>

<div class="fields group">
	<%= f.label "last name" %>
	<%= f.text_field :lname , :id => 'lastname' %>
</div>

<div class="fields group">
	<%= f.label "email" %>
	<%= f.text_field :email , :id => 'email' %>
</div>

<div class="fields group">
	<%= f.label "password" %>
	<%= f.password_field :password , :id => 'password' %>
</div>

<div class="fields group">
	<%= f.label "Teacher Address" %>
	<%= f.text_field :address , :id => 'address' %>
</div>

<div class="fields group">
	<%= f.label "School Name" %>
	<%=f.text_field  :sname , :id => 'sname'%>
</div>

<div class="fields group">
	<%= f.label "School Address" %>
	<%=f.text_field :saddress , :id => 'saddress' %>
</div> 
	<%= f.submit 'submit', :class => 'submitForm' %>

	<% end %>

<button type="button" class="submitForm">
	<%=link_to('Create A New Student', new_student_path) %>
</button>
</div>
</div>