<%= form_for @teacher do |f| %>
<%=f.label "first name" %>
<%=f.text_field :fname %>
<%= f.label "last name" %>
<%= f.text_field :lname %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label "Teacher Address" %>
<%= f.text_field :address %>
<%= f.label "School Name" %>
<%=f.text_field  :sname %>
<%= f.label "School Address" %>
<%=f.text_field :saddress %>

<%= f.submit %>

<% end %>

<button type="button">
	<%=link_to('Create A New Student', new_student_path) %>
</button>
